#up_div-4{
    /* border: 1px solid red; */
    width: 88%;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;  
    padding-left: 60px;
    line-height: 24px;
    background-color: #F1F9FF;
    margin-bottom: 110px;
}
#up_div-4:hover{
    box-shadow: rgba(0, 5, 0, 0.1) 0px 5px 13px;
}
#up_div-4>h1{
    font-size: 48px;
    color: #393939;
    padding-top: 50px;
}
#up_div-4>p{
    font-size: 24px;
    color: #565656;
    margin-top: 3%;
}
.button-4{
    font-size: 18px;
    text-align: center;
    background-color: #f16334;
    color: white;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}
#form_div-4{
    display: flex;
    /* border: 1px solid red; */
    width: 92%;
    margin: auto;
    height: 500px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;       
    margin-top: 50px;
    gap: 20px;
    justify-content: space-between;
}
#form_div-4>div{
    /* border: 1px solid green; */
    width: 40%;
}
#form_div-4>div:nth-child(1){
    width: 80%;
    /* line-height: 20px; */
}
#form_div-4>div+h2{
    color: #393939;
    font-size: 24px;
}
#form_div-4>div>p{
    color: #777777;
    font-size: 16px;
    line-height: 24px;
    margin-top: -15px;
}
#form_div-4>div:nth-child(2){
    background-color: #f6faff;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Roboto, sans-serif;
}
#form_div-4>div:nth-child(2)>h3{
    font-size: 20px;
    color: #393939;
    line-height: 30px;
}
.pad-4{
    padding: 11px;
    font-size: 15px;
    border:0.5px solid grey;
    border-radius: 2px;
    padding-right: 150px;
}
.sub{
    background-color: #f16334;
    color: white;
    font-family:sans-serif;
    font-size: 16px;
    border: none;
    padding: 10px 145px 10px 145px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#last-4{
    width: 101%;
    /* border: 1px solid red; */
    height: 400px;
    text-align: center;
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin-top: 80px;
    margin-left: -8px;
    padding-top: 70px;

}
.last_btn-4{
    background-color: #f16334;
    color: white;
    font-family:sans-serif;
    font-size: 18px;
    border: none;
    padding: 12px 30px 12px 30px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 50px;
}
#last-4>p{
    color: #565656;
    font-size: 18px;
}
#last-4>h1{
    font-family: sans-serif;
    color: #393939;
}
.blog_div-4{
    margin: auto;
    margin-top: 60px;
    width: 92%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.blog_div-4>div{
    width: 33%;
    /* border: 1px solid green; */
    cursor: pointer;

}
.blog_div-4>div>p{
    color: #393939;
    font-size: 18px;
    font-family:Roboto,sans-serif;
    line-height: 25px;
}
.center-4{
    text-align: center;
    font-family: sans-serif;
    color: #393939;
    margin-top: 100px;
}
.head-4{
    font-family: sans-serif;
    color: #393939;
    margin-top: 50px;
    margin-left: 60px;
}
.para-4{
    color: #393939;
    font-size: 17px;
    margin-right: 55px;
    text-align: right;
    margin-top: -60px;
    font-weight: 500;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;       
}
.para-4:hover{
    cursor: pointer;
    color: #f16334;
}
.para-4+hr{
    width: 92%;
    margin: auto;
    margin-top: 60px;
    color: #4b4f58;
}
.img-4{
    width: 100%;
    height: 230px;
    border-radius: 5px;
}
.big_img-4{
    width: 100%;
    height: 380px;
    border-radius: 5px;
}