* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}

#landing {
    background-color: #f4ebe3;
    text-align: center;
}

#landing>h1 {
    font-size: 69px;
    width: 70%;
    margin: auto;
    padding-top: 10vh;
    color: #212529;
    font-style: normal;
    font-weight: 600;
    line-height: 83px;
}

#landing>p {
    font-size: 69px;
    color: #797876;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    font-size: 22px;
    margin: 30px;
}

#email {
    border: 2px solid #ff7342;
    border-radius: 50px;
    width: 650px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(223, 182, 100, 0.2) 0px 2px 8px 0px;
}

#email>input {
    border: none;
    font-size: 20px;
    padding-left: 20px;
    background-color: transparent;
}

#query:focus {
    border: none;
    outline: none;
}
#query2:focus {
    border: none;
    outline: none;
}

#email>:last-child {
    background-color: #ff7342;
    border-radius: 30px;
    padding: 10px 25px;
    color: white;
}

#check_list {
    width: 380px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

#check_list>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.fa-circle-check {
    color: #6639b3;
}

.background_svg {
    width: 80%;
}

#tags {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px auto;
}

#tags>img {
    width: 15%;
}

.hrule {
    width: 70%;
    margin: 50px auto;
}

#get_started>h1 {
    text-align: center;
    font-size: 40px;
}

#get_started>p {
    text-align: center;
    font-size: 20px;
    color: #9aa2b8;
    margin: 10px auto;
}

#container-2 {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.cards {
    display: grid;
    row-gap: 60px;
    padding: 40px 20px;
    border: 1px solid rgb(196, 189, 189);
    border-radius: 20px;
}

.top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10%;
}

.card_head {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0px;
}

.top>img {
    width: 25%;
}

.top>p+p {
    color: #9aa2b8;
}

.bottom {
    line-height: 40px;
}

.bottom>p {
    font-weight: 500;
}

.bottom>div>p {
    font-size: 17px;
}

.bottom>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}

.bottom>div>div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom>div>img {
    width: 7%;
    height: 1.9vh;
    margin-right: 10px;
}

.bottom button {
    padding: 12px 30px;
    border-radius: 5px;
    border: none;
    background-color: #6639b3;
    color: white;
    margin: 10px 0;
}

.cards hr {
    height: 0;
    color: #9aa2b8;
}

#review {
    background-color: rgb(57, 57, 229);
    padding: 100px 0px;
    text-align: center;
    margin-top: 80px;
}

#review>div {
    display: flex;
    justify-content: center;
}

#review img {
    width: 7.5%;
}

#review p {
    font-size: 25px;
    color: white;
    margin: 30px;
}

#views {
    text-align: center;
    width: 90%;
    margin: 50px auto;
}

#views>p {
    margin: 40px 0px;
    font-size: 20px;
    color: #9aa2b8;
    font-weight: 100;
}

#tabs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 70px auto;
    column-gap: 40px;
    flex-wrap: wrap;
}

#tabs>p {
    font-weight: bold;
    font-size: 25px;
    padding: 10px 0px;
}

#views+hr {
    width: 70%;
    margin: auto;
}

#view_division {
    display: grid;
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    align-items: center;
    gap: 40px;
}

#image_art {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1ffff;
    width: 90%;
    border-top-left-radius: 40%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 20%;
    transform: skewX(-20deg);
}

#image_art>img {
    width: 90%;
    transform: skewX(20deg);
}

#division {
    width: 80%;
    margin: auto;
}

#division>h1 {
    margin: 60px 0px;
    color: #292d34;
    font-size: 35px;
}

#division>hr {
    width: 100px;
    border: 3px solid #7b68ee;
    border-radius: 5px;
}

#division>hr+p {
    margin: 40px 0;
    color: #677294;
}

#division>hr+p+p {
    margin: 40px 0;
    font-weight: bold;
    color: #212529;
}

#division>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 0px;
}

#division>div>li {
    list-style: none;

}

#division>button {
    padding: 10px 30px;
    color: #7b68ee;
    border: none;
    margin: 30px 0;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    ;
    font-weight: bold;
    border-radius: 5px;
}

#testimonials {

    background: linear-gradient(rgba(245, 247, 255, 0.5), rgba(245, 247, 255, 0.5)), url(/images/map.png);
    background-size: cover;
    z-index: -1;
    padding: 60px 0;
    background-position: center;
}

#testimonials>h1 {
    text-align: center;
    padding-bottom: 50px;
}

.back-dot {
    width: 70%;
    margin: auto;
    text-align: center;
    z-index: 1000;
}

.back-dot>img {
    border-radius: 50%;
    margin: 20px;
    width: 25%;
    margin: auto;
}

.back-dot>img+p {
    color: #454545;
    line-height: 33px;
    letter-spacing: normal;
    font-size: 20px;
    font-style: italic;
}

.back-dot>h1+p {
    margin: 10px;
    font-style: italic;

}

#service>h1 {
    text-align: center;
    margin: 50px auto;
}

#service>p {
    text-align: center;
    color: #7b85a2;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
    font-size: 18px;
}

#service_card {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;

}

#service_card>div {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f5f7fb;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
}

#service_card>div>img {
    width: 50%;
}

#service_card>div>p {
    font-weight: 500;
}

#getemail2 {
    background-color: #f5f7fb;
    margin: 30px 0;
    padding: 70px 0;
    text-align: center;
}

#getemail2>p {
    font-weight: bold;
    font-size: 25px;
    margin: auto;
}

#getemail2>p+p {
    margin: 20px auto;
    color: #9449fb;
    font-weight: bold;
    font-size: 30px;
}

#email2 {
    border: 2px solid #ff7342;
    border-radius: 50px;
    width: 650px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(223, 182, 100, 0.2) 0px 2px 8px 0px;
}

#email2>input {
    border: none;
    font-size: 20px;
    background-color: transparent;
}

#email2>:last-child {
    background-color: #ff7342;
    border-radius: 20px;
    padding: 15px;
    color: white;
}


#check_list2 {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}

.two {
    margin-left: -100px;
    width: 2300px;
}

#check_list2>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

#mainslider {
    display: flex;
    width: 4000px;
    overflow: hidden;
    animation: slide 15s linear infinite;
}

#mainslider:hover {
    animation-play-state: paused;
}

#brand_slider {
    text-align: center;
    overflow: hidden;
}

#brand_slider>h1 {
    font-size: 30px;
    margin: 20px auto;
}

#brand_slider>p {
    font-size: 20px;
    margin: 20px auto;
    color: #7b85a2;
}

.logoslide {
    display: grid;
    row-gap: 40px;
    width: 2000px;
    margin: 50px auto;
}

.logoslide>div {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.logoslide>div>div {
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logoslide>div>div>img {
    width: 50px;
}

@keyframes slide {
    0% {}

    100% {
        margin-left: -2000px;
    }
}

#seemore {
    padding: 15px 40px;
    margin: 50px auto;
    color: #6639b3;
    background-color: transparent;
    border: 1px solid#6639b3;
    border-radius: 10px;
    font-size: 18px;
}

#seemore:hover {
    background-color: #6639b3;
    color: white;
}



/* @media all (max-width : 14450) {
    
} */