/* rahul css starts */
#getemail2{
    background-color: #f5f7fb;
    margin: 30px 0;
    padding: 70px 0;
    text-align: center;
}
#getemail2>p{
    font-weight: bold;
    font-size: 25px;
    margin: auto;
}
#getemail2>p+p{
    margin: 20px auto;
    color: #9449fb;
    font-weight: bold;
    font-size: 30px;
}
#email2 {
    border: 2px solid #ff7342;
    border-radius: 50px;
    width: 650px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(223, 182, 100, 0.2) 0px 2px 8px 0px;
}

#email2>input {
    border: none;
    font-size: 20px;
    background-color: transparent;
}

#email2>:last-child {
    background-color: #ff7342;
    border-radius: 20px;
    padding: 15px;
    color: white;
}
#check_list2 {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;

}
.two{
    margin-left: -100px;
    width: 2300px;
}

#check_list2>div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

#review {
    background-color: rgb(57, 57, 229);
    padding: 100px 0px;
    text-align: center;
    margin-top: 80px;
}

#review>div {
    display: flex;
    justify-content: center;
}
#review img {
    width: 7.5%;
}
#review p {
    font-size: 25px;
    color: white;
    margin: 30px;
}
/* rahul css ends */

#upper_box-4{
    text-align: center;
    height: 350px;
    background-color: #335EEA;
    padding-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* color: white; */
    line-height: 24px;
}
#upper_box-4>h1{
    font-size:40px;
    color: white;
    font-weight: 300;
}
#upper_box-4>h2{
    color: white;
    font-weight: 300;
    /* font-size: 30px; */
    margin: 0px 20% 0px 20%;
}
#inner_box-4{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    height: 120px;
    /* border: 1px solid red; */
    background-color: white;
    gap: 30px;
    border-radius: 30px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#inner_box-4>div{
    /* border: 2px solid green; */
    border-radius: 100px;
    width: 30%;
    height: 50%;
    margin-top: 30px;
    cursor: pointer;  
    /* padding: 0px 40px 0px 40px; */
    padding: 0px 10px 0px 10px;
}
#inner_box-4>div:hover{
    background-color: #D7E2FE;
}
#inner_box-4>div>h2{
    /* padding: 10px 20px 0px 20px; */
    margin-top: 5px;
    color: #757694;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#inner_box-4>div>p{
    margin-top: -17px;
    color: #757694;
    /* padding-bottom: 0px 20px 10px 20px; */
}
#inner_box-4>div>h2:hover{
    color: #6BA1F3;
}
#inner_box-4>div>p:hover{
    color: #6BA1F3;
}
#short_nav-4{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    height: auto;
    /* border: 1px solid red; */
    background-color:#37C1F9;
    border-radius: 25px;
  
   margin-top: -25px;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#short_nav-4>div{
    border-radius: 50px;
    cursor: pointer;  
    /* padding-right: 40px;
    padding-left: 45px; */
    /* border: 1px solid green; */
}
#short_nav-4>div>button{
    font-weight: 300;
     color: red;
     border: none;
     width: auto;
     border-radius: 50px;
     cursor: pointer;  
     padding-right: 45px;
     padding-left: 45px;
     padding-top: 3.5px;
     padding-bottom: 3px;
     margin-top: 1px;
     background-color:#37C1F9;
     color: white;
}
#short_nav-4>div>button:hover{
    background-color: white;
    font-weight: 300;
    text-decoration:solid;
    color: #1550AF;
}
#short_nav-4>div>p:hover{
    color:#B57EED;
    font-weight: 300;
}     
#cat_div-4{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 80%;
    margin: auto;
    /* height: 500px; */
    /* border: 1px solid red; */
    margin-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#cat_div-4>div{
    /* border: 1px solid green; */
    width: 40%;
    background-color: #E7F9FF;
    padding-left: 60px;
}
#cat_div-4>div {
    width: 40%;
    background-color: #E7F9FF;
    padding-left: 60px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#cat_div-4>:hover,
#cat_div-4>:focus,
#cat_div-4>:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
#cat_div-4>div:nth-child(3){
    background-color: #F5FDDB;
}
#cat_div-4>div>h3{
    font-weight: 400;
    color: #525c69;
    font-size: 15px;
    letter-spacing: normal;
}
.bold-4{
    font-weight: 500;
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    /* font-weight: 500; */
    background-color: #CEF1FC;

}
.center-4{
    /* border: 1px solid red; */
    text-align: center;
    margin-left: -35%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.center-4>h1+p{
    color: #1550AF;
}
.bold-4+h1{
    /* border: 1px solid red; */
    font-size: 28px;
    color: #1550AF;
    font-weight: 100;
    margin-right: 50px;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}   
.center-4>h1+h1{
    font-size: 60px;
    font-weight: 400;
    margin-top: -80px;
    color: #0050AF;
}
#cat_div-4>div>h3{
    margin-left: -25px;
}
.btn-4{
    padding: 15px 25px 15px 25px;
    margin-left: -20px;
    margin-bottom: 20px;
    color: white;
    background-color: #20BDEE;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 50px;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.btn-4:hover{
    cursor: pointer;
    background-color: #37C1F9;
}
.bold-4+.adjust-4-1{
    margin-right: 110px;
}
.adjust-4-1+.adjust-4-2{
   /* margin-left: 30px; */
   margin-right: -50px;
}
.adjust-4-1+.adjust-4-2-pro{
    /* margin-left: 30px; */
    margin-right: -50px;
 }
#adjust-4-1-green{
    margin-right: 120px;
    color: #83A00D;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
#adjust-4-1-green+.adjust-4-2-green{
   margin-left: 50px;
   color: #83A00D;
}
.adjust-4-2-green+.adjust-4-3-green{
    color: #83A00D;
}
.bold-4-green{
    background-color:#E4F3B3; 
    font-weight: 500;
    /* border: 1px solid red; */
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 0px 5px 0px;
    /* font-weight: 500; */
}
.btn-4-green{
    padding: 15px 25px 15px 25px;
    margin-left: -20px;
    margin-bottom: 20px;
    color: white;
    background-color: #A2CD00;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 110px; 
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.btn-4-green:hover{
    background-color:  #BBDC42;
    cursor: pointer;
}
#girl-box-4{
    display: flex;
    /* border: 1px solid red; */
    /* height: 455px; */
    width: 80%;
    margin: auto;
    margin-top: 60px;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#girl-box-4>div{
    /* border: 1px solid green; */
    width:40%;
}
#girl-box-4>div:nth-child(2){
    width:70%;
    padding: 0px 5% 0px 5%;
    font-weight: 100;
    background-color: #1B2A4E;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#girl-box-4>div>p{
    margin-top: -10px;
    padding-bottom: 30px;
}
#girl-box-4>div>h1{
    font-weight:bolder;
    padding-top: 26px;
    font-size: 26px;
    line-height: 40px;
}
.img-4{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#compare_text-4{
    width: 30%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 60px;
    text-align: center;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#compare_text-4+h1{
    color: #212529;
    font-size: 38px;
}
#compare_text-4>p{
    color: #6c757d;
    font-size: 20px;
}
#compare-4{
    display: flex;
    width: 80%;
    height:auto;
    margin: auto;
    margin-top: 60px;
    /* border: 1px solid red; */
    justify-content: space-between;
    gap: 15px;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#compare-4>div{
    width: 30%;
    /* border: 1px solid green; */
    background-color: #e7f9ff;
}
.compare-4-up-div{
    width: auto;
    height: 100px;
    /* border: 1px solid red; */
    background-color: #cef1fc;
     text-align: center;
     padding: 5px 20px 15px 20px;
     margin-top: -14px;
     position: sticky;
     top: 0px;
     z-index: 4;

}
.compare-4-up-div+p{
    font-size: 14px;
    color: #262626;
    letter-spacing: 2px;
}
.compare-4-up-div>h1{
    color: #0050af;
    margin-top: -10px;
    font-weight: 500;
}
.compare-4-up-div>h1+p{
    margin-top: -20px;
    font-size: 12px;
    color: #262626;
}
.compare-4-up-div-green>h1{
    color: #7C9B10;
    margin-top: -10px;
    font-weight: 500;
    font-size: 28px;    
}
.compare-4-up-div-green{
    width: auto;
    height: 100px;
    /* border: 1px solid red; */
    background-color: #E4F3B3;
     text-align: center;
     padding: 5px 20px 15px 20px;
     margin-top: -14px;
     position: sticky;
     top: 0px;
     z-index: 4;
}
.compare-4-up-div-green+p{
    font-size: 14px;
    color: #262626;
    letter-spacing: 2px;
}
.compare-4-up-div-green>h1+p{
    margin-top: -20px;
    font-size: 12px;
    color: #262626;
}
#compare-4>#pink{
    background-color: #F5FDDB;
}
.compare-4-down-div{
    margin-left: 24px;
    position: relative;

}
.blue-4{
    margin-top: 20px;
    margin-bottom: 24px;
    color: #0050af;
    font-size: 17.5px;
}
.compare-4-down-div>h3{
    color: #212529;
    font-size: 13px;
    font-weight: 400;
}
.opacity>h3{
    color: #212529;
    font-size: 13px;
    font-weight: 400;
    opacity: 30%;
}
.btn-4-1{
    padding: 15px 40px 15px 40px;
    margin-bottom: 20px;
    color: white;
    background-color: #20BDEE;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 50px;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.btn-4-1:hover{
    cursor: pointer;
    background-color: #37C1F9;
}
.green-4{
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 17.5px;
    color: #7C9B10;
}
.btn-4-green-1{
    padding: 15px 40px 15px 40px;
    margin-bottom: 20px;
    color: white;
    background-color: #A2CD00;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    margin-top: 50px;
    font-family:apple-system, BlinkMacSystemFont, Poppins, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
}
.btn-4-green-1:hover{
    background-color:  #BBDC42;
    cursor: pointer;
}
.fa-circle-question{
    color: #212529;
    opacity: 50%;
}
.fa-circle-check{
    color: #1550AF;
    opacity: 50%;
}    
